!!!5
html
  head
    title ETA Telepresence
    link(rel='stylesheet', href='components/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
  body
    block content
    script(type='text/javascript', src='components/jquery/jquery.js')
    script(type='text/javascript', src='components/bootstrap/js/bootstrap.min.js')