body {
     font-family: sans-serif;
}

.stuff {
    color: red;
}

p {
    color: black;
}
.headline, .buttons, .logMessages, p {
    text-align: center;
}

#videoStream div {
    margin: 0 auto;
}

#video {
    position: relative;
    width: 480px;
    height: 480px;
    margin: 0 auto;
}

#localVideo, #remoteVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px 3px #fff;
}

#localVideo video, #remoteVideo video {
    width: 100%;
    height: 100%;
}

.logMessages .currentCommand {
    float: left;
}

.logMessages .currentCommand .content {
    color: green;
}

.logMessages .previousCommand .content {
    color: #666;
}

.speed p {
    font-size: 15px;
    margin: 10px 0 0 0;
}

.localControl {
    display: none;
}